services:
  mongo:
    image: mongo:7
    container_name: mongo-db
    restart: unless-stopped
    ports:
      # В продакшене лучше не открывать порт наружу
      # - '27017:27017' # Закомментировать для продакшена
    expose:
      - 27017
    volumes:
      - mongo_data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - app-network

networks:
  app-network:

volumes:
  mongo_data:
